.w-1{
    width: 64px;
}
.square-1{
    width: 64px;
    height: 64px;
}
.square-2{
    width: 100px;
    height: 100px;
}
.square-3{
    width: 128px;
    height: 128px;
}

.img-object{
    object-fit: contain;
    object-position: center;
}
.img-overflow-1{
    height: 160px;
    width: 160px;

    right: 8px;
    top: 20%;
    transform: translateY(-50%);
}


.btn-hover{
    padding: 0.5rem 1rem;
    border-radius: 12px;
    &:hover{
        background-color: #e8f0fe;
    }
}
.link-hover-primary{
    &:hover{
        color: $primary;
    }
}

.btn-circle{
    display: block;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    &>span{
        position: relative;
        &::after{
            position: absolute;
            content: 'more_vert';
            width: 32px;
            height: 32px;
            font-size: 2rem;
            top: 50%;
            right: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.fs-title{
    font-size: 24px;
    @include media-breakpoint-up(sm) {
        font-size: 44px;
    }
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    @include media-breakpoint-up(sm) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
.h-180{
    height: 180px;
}
.btn-outline-primary{
    border-color: rgba($black, .125);
}
.card-body{
    padding: 1.25rem;
}
.link-dark{
    &:hover{
        color:$primary;
    }
}
.navbar-logo{
    display: block; 
    max-height: 2rem;
&>img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
}
.circle-icon{
    width: 2rem;
    height: 2rem;
    &>span{
        width: 1.5rem;
        height: 1.5rem;
    }
}
.search-input{
    width: 158px;
}