extends app.pug 

block info
    div.card-header
        h2.card-title Welcome to Flashcard!
    div.card-content
        form.input-form(action='/hello', method='post').card-input
            label Please enter your name:
            div.input-group 
                input(type='text', name='username')
                button.input-btn(type='submit') Submit