extends app.pug 

block info
    div.card-header
        h2.card-title Hello #{name}
        p.card-subtitle prefer language:
    ul.card-content.menu-list 
        each language in languages 
            li
                a.card-btn(href=`/cards`)= language
        li 
            form(action='/clear', method='post')
                button.clear-btn(type='submit') Change User Name 