doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flashcard
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(rel='stylesheet', href='/static/style/all.css')
    body 
        header.layout   
            h1 Flashcard 
            p An online application to learn more language 
        block content 
        footer.layout 
            p copyrights &copy; 2022 Joy Cheng