.content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  
    &-title {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &-card {
      background-color: #7393b3;
      height: 250px;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      &-title {
        margin-bottom: 1rem;
      }
    }
  }
  .button{
      background-color: lightsteelblue;
      display: inline-block;
      border-radius: 12px;
      padding: 0.5rem 1rem;
  }