doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title week3
        link(rel="stylesheet" href="/stylesheet/all.css")
    body 
        header this is layout header
        main 
            block content 
        footer this is layout footer 