.btn-hover{
    padding: 0.5rem 1rem;
    border-radius: 12px;
    &:hover{
        background-color: #e8f0fe;
    }
}
.btn-circle{
    display: block;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    &>span{
        position: relative;
        &::after{
            position: absolute;
            content: 'more_vert';
            width: 32px;
            height: 32px;
            font-size: 2rem;
            top: 50%;
            right: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
.btn-outline-primary{
    border-color: rgba($black, .125);
}
.link-dark{
    &:hover{
        color:$primary;
    }
}
.link-hover-primary{
    &:hover{
        color: $primary;
    }
}
