.d-md2-block{
  @include md2{
    display: block;
  }
}
.d-lg2-block{
  @include lg2{
    display: block;
  }
}
.d-xxl1-block{
  @include xxl1{
    display: block;
  }
}
.d-xxl1-none{
  @include xxl1{
    display: none;
  }
}