.container{
    padding-left: 1rem;
    padding-right: 1rem;
    @include media-breakpoint-up(sm) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
.w-1{
    width: 64px;
}
.w-2{
    width: 158px;
}
.h-1{
    height: 180px;
}
.square-1{
    width: 64px;
    height: 64px;
}
.square-2{
    width: 100px;
    height: 100px;
}
.square-3{
    width: 128px;
    height: 128px;
}

.img-object{
    object-fit: contain;
    object-position: center;
}
.img-overflow-1{
    height: 160px;
    width: 160px;

    right: 8px;
    top: 20%;
    transform: translateY(-50%);
}
.circle-icon{
    width: 2.5rem;
    height: 2.5rem;
    &>span{
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        margin: auto auto;
    }
}
.fs-title{
    font-size: 24px;
    @include media-breakpoint-up(sm) {
        font-size: 44px;
    }
}

.logo{
    display: block; 
    max-height: 2.5rem;
    width: 185px;
    padding: 0;
&>img{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
}